.project-block {
  background-color: #353849;
  padding: 2em;
  border-radius: 5px;
  margin-bottom: 2em;
}

.about-section {
  padding: 4rem 1rem;
  background-color: #1e293b;
  color: #cbd5e1;
  border-radius: 1rem;
}
.about-section .inner {
  max-width: 800px;
  margin: 0 auto;
}
.about-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.about-section p {
  line-height: 1.6;
  margin-bottom: 1rem;
}
